<style>
.my-pre{
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    text-align: left;
        --font-family-sans-serif: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
</style> 
 
 
 
 <div class="mt-3 mb-3"   >
              <div class="row justify-content-center mx-auto col-md-10 align-items-center ">
                <div class="card border-primary col-md-12 mx-auto text-center offset-md-1">
                   <div class="card-header bg-muted border text-primary" ><h4>{{profile.nombre}} {{profile.apellido}}</h3></div>
                  <div class="card-body">
                    {{#if video}}
                    <div class="mx-auto">
                      <h4>Video de presentacion</h4>
                      <video src="{{video}}" poster="{{video}}" class="img-fluid" controls></video>
                      
                    </div>
                    <hr>
                    {{/if}}

                            <div class="mx-auto text-center">
                          
                              
                                      <div class="form-row col-8 mx-auto">
          <div class="col-6 mx-auto">
                        <div class="form-group">
                          
                    <h3>Edad: {{profile.fecha}} años</h3>
            </div>

          </div>
          
          <div class="col-6 mx-auto">
                        <div class="form-group">
               <h3 class="input-group">Puntuacion:  {{#if puntuacion}} <div class="ml-1 input-group-append"> <h3 class="text-info"> {{puntuacion}}</h3><p class="text-warning"> <i class="fa fa-star ml-1" aria-hidden="true"></i>    </p> </div> {{else}} <p class="text-primary input-group-append">Sin Puntuar</p> {{/if}}</h3>
            </div>
          </div>
        </div>

                               </div>

<hr>
                            <div class="mx-auto text-center">
                                <label>Informacion de contacto</label>
                              
                                      <div class="form-row col-8 mx-auto">
          <div class="col-6 mx-auto">
                        <div class="form-group">
                          <label>Email</label>
                    <h5>{{profile.email}}</h5>
            </div>

          </div>
          
          <div class="col-6 mx-auto">
                        <div class="form-group">
                          <label>Telefono</label>
              <h5>{{profile.telefono}}</h5>
            </div>
          </div>
        </div>

                               </div>

 <hr>
                                                        <div class="mx-auto text-center">
                                <label>Informacion Adicional</label>
                              
                                      <div class="form-row col-8 mx-auto">
          <div class="col-6 mx-auto">
                        <div class="form-group">
                          <label>Genero</label>
                    <h5>{{profile.sexo}}</h5>
            </div>

          </div>
         
          <div class="col-6 mx-auto">
                        <div class="form-group">
                          <label>Estado Civil</label>
              <h5>{{profile.estado_civil}}</h5>
            </div>
          </div>



    <div class="col-4 mx-auto">
                        <div class="form-group">
                          <label>Facebook</label>
                   <a href="{{profile.facebook}}" target="_blank"> <h5>{{profile.facebook}}</h5></a>
            </div>

          </div>
    <div class="col-4 mx-auto">
                        <div class="form-group">
                          <label>Instagram</label>
                   <a href="https://{{profile.instagram}}" target="_blank"> <h5>{{profile.instagram}}</h5></a>
            </div>

          </div>
              <div class="col-4 mx-auto">
                        <div class="form-group">
                          <label>Twitter</label>
                    <a href="https://{{profile.twitter}}" target="_blank"><h5>{{profile.twitter}}</h5></a>
            </div>

          </div>





        </div>

                               </div>

<hr>
                           
                              <div class="mx-auto"> <h3>Referencias</h3></div> 
                       <div class="text-left ml-5"> <pre class="my-pre">{{profile.descripcion}}</pre></div>





{{#if puntuacion}}
<hr>
<form action="/company/mercadopago" method="post" target="_blank">
  <input type="submit" value="Ver Historial y reseñas" class="btn btn-primary col-4">
</form>

{{/if}}


<hr>

<h4 class="mx-auto text-center"> {{profile.nombre}} busca trabajo como</h4>
<div class="card-group">

    
 {{#each oferta as |oferta|}}
 <div class="col-12 mb-3">
  <div class="card border-success">
<div class="card-header"><h5 class="card-title">{{oferta.trabajo}}</h5></div>
    <div class="card-body">
      
      <p class="card-text">{{oferta.descripcion}}</p>


 <form action="/employee/new-notification/{{oferta.id_empleado}}" method="post"
                                        onsubmit="return confirm('Desea Enviar una Solicitud de trabajo?');">
                                              <input type="hidden" name="trabajo" value="{{oferta.trabajo}}">
                                        <button type="submit" class="btn btn-primary ">Enviar Propuesta de Trabajo</button>
                                    </form>
    </div>
  </div>



</div>
{{/each}}



</div>






                
                  </div>
                </div>
              </div>
            </div> 

