{{#if employees}}

<div class="container col-10 mx-auto">
  <table class="table col-11 mx-auto mt-3">
    <thead class="bg-success text-light">
      <tr>
        <th scope="col" ></th>
        <th scope="col" class="text-center">Tabla de renuncias</th>
        <th scope="col"></th>
        {{!-- <th scope="col">Cocheras</th> --}}
       
      </tr>


    </thead>
    <tbody>

      {{#each employees}}
      <tr>
        <th scope="row" class="text-center">{{nombre}} {{apellido}}</th>
        <th scope="row" class="text-center">{{trabajo}}</th>

        <th scope="row" class="text-center">                                    

            <a  href="/company/dismiss/{{id}}/{{id_empleado}}/{{trabajo}}" class="btn btn-outline-success btn-block mt-3 mr-3">Puntuar <i class="fa fa-star" aria-hidden="true"></i></button>

          </th>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>

  

{{/if}}




{{#if confirmaciones}}

<div  style="  margin-top:1%;" >

<div class="row justify-content-center mx-auto col-md-10 align-items-center ">
<div class="card border-success col-md-12 mx-auto text-center offset-md-1">
  <div class="card-header"><h3 class="text-success">Tabla de confirmaciones</h3></div>
  <div class="card-body">
     

 {{#each confirmaciones}}

<div class="border mt-3 mb-3 p-1 mx-auto">
<div class="input-group mb-3">


    <div class=" form-row mx-auto "><h5 class="text-center mt-4"><a href="/employee/public/{{id_empleado}}" target="_blank">{{nombre}} {{apellido}}</a>    {{trabajo}}</h5></div>
      
      <div class="input-group-append">

  
                                
                                     <form action="/company/new-employee/{{id_empleado}}" method="post" onsubmit="return confirm('Desea Aceptar a este empleado?');">
                                        <input type="hidden" name="respuesta" value="accept">
                                        <input type="hidden" name="trabajo" value="{{trabajo}}">
                                      <button type="submit" class="btn btn-outline-success mr-1 mt-3">Aceptar <i class="fa fa-check" aria-hidden="true"></i></button>
                                    </form>
                              
                                  
                                    <form action="/company/new-employee/{{id_empleado}}" method="post" onsubmit="return confirm('Desea Rechazar a este empleado?');">
                                        <input type="hidden" name="respuesta" value="deny">
                                        <input type="hidden" name="trabajo" value="{{trabajo}}">
                                      <button type="submit" class="btn btn-outline-danger mt-3 mr-3">Rechazar <i class="fa fa-times" aria-hidden="true"></i></button>
                                    </form>





    </div>
</div>

</div>
{{/each}}


  </div>   <!--div que cierra el card Body-->
</div>

</div>





  </div>   <!--div que cierra el contenedor principal-->
       

  

{{/if}}




{{#if notificaciones}}

<div  style="  margin-top:1%;" >

<div class="row justify-content-center mx-auto col-md-10 align-items-center ">
<div class="card border-primary col-md-12 mx-auto text-center offset-md-1">
  <div class="card-header">Solicitudes de Trabajo</div>
  <div class="card-body">
     

 {{#each notificaciones as |notificacion|}}

<div class="border mt-3 mb-3 p-1 mx-auto">
<div class="input-group mb-3">


    <div class=" form-row mx-auto "><h5 class="text-center mt-4"><a href="/employee/public/{{notificacion.id_empleado}}" target="_blank">{{notificacion.nombre}} {{notificacion.apellido}}</a>    {{notificacion.contenido}}</h5></div>
      
      <div class="input-group-append">

  
                                
                                     <form action="/company/new-confirmation/{{notificacion.id_empleado}}" method="post" onsubmit="return confirm('Desea Aceptar a este empleado?');">
                                        <input type="hidden" name="respuesta" value="accept">
                                        <input type="hidden" name="trabajo" value="{{notificacion.contenido}}">
                                      <button type="submit" class="btn btn-outline-success mr-1 mt-3">Aceptar <i class="fa fa-check" aria-hidden="true"></i></button>
                                    </form>
                              
                                  
                                    <form action="/company/new-confirmation/{{notificacion.id_empleado}}" method="post" onsubmit="return confirm('Desea Rechazar a este empleado?');">
                                        <input type="hidden" name="trabajo" value="{{notificacion.contenido}}">
                                        <input type="hidden" name="respuesta" value="deny">
                                        
                                      <button type="submit" class="btn btn-outline-danger mt-3 mr-3">Rechazar <i class="fa fa-times" aria-hidden="true"></i></button>
                                    </form>





    </div>
</div>

</div>
{{/each}}


  </div>   <!--div que cierra el card Body-->
</div>

</div>





  </div>   <!--div que cierra el contenedor principal-->
       


  

{{/if}}